
#book-details, #user-profile {
  & > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > [type="button"] {
      margin-bottom: 3rem;

      & > img {
        height: 8px;
      }
    }
  }

  & .form-group {
    margin-bottom: 1rem;

    & label {
      margin-bottom: 0;
    }
  }

  & .form-control {
    margin: 0.5rem 0 1.5rem;
    outline: none;
  }

  & .form-control-plaintext {
    outline: none;
    font-size: large;
  }

  .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    & .btn {
      margin: 1.5rem 0.5rem;
    }
  }

  .error-feedback {
    margin-top: -1.2rem;
    margin-left: 0.5rem;
    font-style: italic;
    font-weight: 600;
    color: #f00;
  }
}
